<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1> trabajo</h1>
        <p>ttetete</p>
    </div>

    <div class="col-4">
        <img src="assets/img/trabajo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}